# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Datos y logs del proyecto
data/clientes.json
data/respaldos/
logs/*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Datos y logs de prueba
data/clientes_test.json
data/clientes_test_export.csv
data/respaldos/
logs/
